
<div id="container">
	<div id="content"></div>
</div>

<script type="text/javascript">
//$(document).ready(function(){
Ext.onReady(function(){
	var board = new GameBoard("cMain");
	board.start();
});
</script>
